<header>
  <nav class="site-nav">
    <div class="container">
      <a href="#"> <img [src]="path" alt="Logo"></a>
      <ul>
        <li><a class="active" href="#!">lorem</a></li>
        <li><a  href="#!">lorem</a></li>
        <li><a href="#!">lorem</a></li>
        <li><a href="#!">lorem</a></li>
        <li><a href="#!">lorem</a></li>
      </ul>
    </div><!-- // .container -->
  </nav><!-- // .site-nav -->
  <div class="container">
    <h1>
      <span>Lorem ipsum dolor sit amet.</span>
      <br>
      <span>Lorem ipsum dolor.</span>
    </h1>
  </div><!-- // .container -->
</header>
