<section class="ss-about">

  <h2 class="container ss-heading">About</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dignissimos, esse eum expedita impedit ipsum
          numquam odit reiciendis reprehenderit tempore.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam ipsum nam obcaecati omnis quo,
          reprehenderit?
        </p>
      </div>
      <div class="col-md-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum eius id inventore nihil soluta veniam.</p>
        <ul class = "social-link">
          <li><a href="#!"><i class="icon-facebook-square"></i></a></li>
          <li><a href="#!"><i class="icon-instagram"></i></a></li>
          <li><a href="#!"><i class="icon-vk"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
