@import "../../../styles/style";

@urlHeaderPages: "../../app/landing-pages/header/img/";

:host-context(.theme-first) {
  header {
    .bg-img("@{urlHeaderPages}hero-img.jpg", center, scroll);
    .overlay();
    .site-nav {
      background-color: @overlay;
      background-color: fade(@overlay, 85%);
      padding: 40px 0;
    }
    .horizontal-menu{
      float: right;
    }

    h1 {
      margin: 250px 0;
      text-transform: uppercase;
      color: #fff;
      font-weight: 300;
      font-size: 3em;
      text-align: center;
      line-height: 1.6em;
    }

    span {
      background-color: fade(@overlay, 85px);
      padding: 0 20px;
    }
  }
//responsive menu
  @media (max-width: 992px){
    .site-nav{
      position: relative;

      .horizontal-menu{
        position: absolute;
        top: 100%;
        left:0;
        width: 100%;
        background-color: @overlay;

        li{
          width: 100%;
          display: block;
          margin-left: 0;
          text-align: center;
          border-bottom: 1px solid lighten(@overlay, 5%);
          a{
            display: inline-block;
            padding: 20px 30px;

            &.active{
              border: transparent;
            }
          }
        }

      }
    }
  }


}
