<div class="sp-portfolio">
  <section class="container">
    <ul class = "horizontal-menu black">
      <li><a class="active" href="#!">lorem</a></li>
      <li><a  href="#!">lorem</a></li>
      <li><a href="#!">lorem</a></li>
      <li><a href="#!">lorem</a></li>
      <li><a href="#!">lorem</a></li>
    </ul>
    <h2 class="container ss-heading black">Portfolio</h2>
    <div class="row thumbs-row">
      <div class="col-sm-6 col-md-3"><a href="#!"></a></div>
      <div class="col-sm-6 col-md-3"><a href="#!"></a></div>
      <div class="col-sm-6 col-md-3"><a href="#!"></a></div>
      <div class="col-sm-6 col-md-3"><a href="#!"></a></div>
      <div class="col-sm-6 col-md-3"><a href="#!"></a></div>
      <div class="col-sm-6 col-md-3"><a href="#!"></a></div>
      <div class="col-sm-6 col-md-3"><a href="#!"></a></div>
      <div class="col-sm-6 col-md-3"><a href="#!"></a></div>
    </div>
  </section>


</div>
