<section class="sv-service">

  <h2 class="container ss-heading">Video</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur autem commodi cum cupiditate. Aperiam
          atque debitis omnis qui rem sit?</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dignissimos est facere maiores maxime
          neque, quibusdam rem repudiandae rerum. Adipisci delectus deleniti expedita facere incidunt necessitatibus
          numquam, quasi quod recusandae?</p>
        <a class="btn-ghost-grey" href="!#">Visit</a>
      </div>
      <div class="col-md-6 col-md-offset-1 stn-video-col">
        <div class="videoWrapper">
        <iframe src="https://player.vimeo.com/video/208671767" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
